<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.boiler_commslogin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".viewMyUserComments"
            android:label="viewMyComments"
            android:exported="true"/>
        <activity
            android:name=".viewComments"
            android:label="viewComments"
            android:exported="true"/>
        <activity
            android:name=".data.TopicPostActivity"
            android:label="topicPost" />
        <activity
            android:name=".ui.login.EditUserProfile"
            android:label="userProfileEdit" />
        <activity
            android:name=".data.MainActivity"
            android:label="userTimeline" />
        <activity
            android:name=".sign_up.SignUpActivity"
            android:label="signup" />
        <activity
            android:name=".createpost.CreatePostActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".data.PublicProfilePage"
            android:label="public_pf"/>
        <activity
            android:name=".data.OtherTimeline"
            android:label="othertimeline"/>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>